@model tuwaiq_sec.Models.RoomDetail

<div class="container d-flex justify-content-center align-items-center">
    <div class="card text-center" style="width: 44rem;">
        <div class="row">
            <div class="col">
                <img src="@Url.Content("~/images/" + Model.Image1)" class="card-img-top" alt="...">
            </div>
            <div class="col">
                <img src="@Url.Content("~/images/" + Model.Image2)" class="card-img-top" alt="...">
            </div>
        </div>
        <img src="@Url.Content("~/images/" + Model.Image3)" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.RoomId</h5>
            <p class="card-text">@Model.Food</p>
            <a href="/rooms/Edit/@Model.Id" class="btn">تعديل</a>
        </div>
    </div>
</div>